body{
    --code-function:rgb(18, 129, 18);
    --code-important: var(--color-orange);
    --code-keyword: #e6cd69;
    --code-operator: #e6cd69;
    --code-property: #55b5db;;
    --code-punctuation: var(--text-muted);
    --code-string:  rgb(18, 129, 18);
    --code-tag: var(--color-red);
    --code-value: #cd3f45;

}
.cm-comment{
    --text-faint: #52707b;
}

.cm-s-obsidian .HyperMD-codeblock{
     color:#F4F5F6;
}

.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock{
    color:#F4F5F6;
}

.cm-s-obsidian div.HyperMD-codeblock-begin-bg, .cm-s-obsidian div.HyperMD-codeblock-end-bg{

    background-color:rgb(40, 42, 54);


}

.cm-s-obsidian div.HyperMD-codeblock-bg{
    background-color:rgb(40, 42, 54);
}
/*minimal主题代码块样式☝🏻*/
.markdown-rendered pre {

    background-image: url("https://ice.frostsky.com/2024/11/02/80d7b4bc93547e56a76a8625a26a7461.jpeg");
    background-size: 100%; /* 保持背景图像的比例并覆盖整个元素 */
    
    padding: 0;
    margin: 0;
}

.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock {

    background-image: url("https://ice.frostsky.com/2024/11/02/80d7b4bc93547e56a76a8625a26a7461.jpeg");
    background-size: 100%; /* 保持背景图像的比例并覆盖整个元素 */
    
    padding: 0;
    margin: 0;
}

code.language-例子.language-none{
    background-color: rgba(0, 0, 0, 0.93); /* 半透明背景颜色 */
    backdrop-filter: brightness(0.96) blur(1.63px); /* 应用亮度和模糊效果 */
}


code.language-javascript {
    background-color: rgba(0, 0, 0, 0.93); /* 半透明背景颜色 */
    backdrop-filter: brightness(0.96) blur(1.63px); /* 应用亮度和模糊效果 */
}


