
.markdown-rendered pre {
  background: rgba(255, 255, 255, 0.5); /* 半透明背景 */
  backdrop-filter: brightness(0.35) blur(5px); /* 应用亮度和模糊效果 */
  padding:0;
  margin:0;
}

.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock {
  background: rgba(255, 255, 255, 0.5); /* 半透明背景 */
  backdrop-filter: brightness(0.35) blur(5px); /* 应用亮度和模糊效果 */
  padding:0;
  margin:0;
}

code.language-例子.language-none{
  background-image: url("https://ice.frostsky.com/2024/11/02/80d7b4bc93547e56a76a8625a26a7461.jpeg");
  width: 100%;
  background-size: cover; /* 适应背景图像的大小 */
  background-color: rgba(255, 255, 255, 0.5); /* 半透明背景 */
  backdrop-filter: brightness(0.35) blur(5px); /* 应用亮度和模糊效果 */
  padding: 0;
  margin: 0;
}


code.language-javascript {
    background-image: url("https://ice.frostsky.com/2024/11/02/80d7b4bc93547e56a76a8625a26a7461.jpeg");
    width: 100%;
    background-size: cover; /* 适应背景图像的大小 */
    background-color: rgba(255, 255, 255, 0.5); /* 半透明背景 */
    backdrop-filter: brightness(0.35) blur(5px); /* 应用亮度和模糊效果 */
    padding: 0;
    margin: 0;
}


