
.markdown-rendered pre {

    background-image: url("https://ice.frostsky.com/2024/11/02/80d7b4bc93547e56a76a8625a26a7461.jpeg");
    background-size: 100%; /* 保持背景图像的比例并覆盖整个元素 */
    
    padding: 0;
    margin: 0;
}

.markdown-source-view.mod-cm6 .cm-line.HyperMD-codeblock {

    background-image: url("https://ice.frostsky.com/2024/11/02/80d7b4bc93547e56a76a8625a26a7461.jpeg");
    background-size: 100%; /* 保持背景图像的比例并覆盖整个元素 */
    
    padding: 0;
    margin: 0;
}

code.language-例子.language-none{
    background-color: rgba(0, 0, 0, 0.84); /* 半透明背景颜色 */
    backdrop-filter: brightness(0.96) blur(1.23px); /* 应用亮度和模糊效果 */
}


code.language-javascript {
    background-color: rgba(0, 0, 0, 0.84); /* 半透明背景颜色 */
    backdrop-filter: brightness(0.96) blur(1.23px); /* 应用亮度和模糊效果 */
}


