
.content {
    padding:0px;
    min-width:64%;/*解决中间过窄*/
    margin:auto;
    background-border:rgba(181, 230, 181,10.3);

    animation:fade-in auto linear;
    animation-timeline:view(500px 0);
}
.table-view-table>thead>tr>th{
    background-color:white;
}
.filetree-sidebar {
    padding: 0px;
    top: 30px;
    /*左栏透明*/
}
.navbar{
    background-color:rgba(181, 230, 181,0);/*顶栏透明*/
    height:30px;
}
    main{
        top:30px;
        margin:0;
    }
/*on this page的背景↓*/
.toc{
    /*rgba(86,143,86,0.8),rgba(130,214,130,0.8)*/
    background-color:rgba(130,214,130,0.4);
}
/*on this page的padding↓*/
.toc ol{
    padding:5px;
    margin:5px;
    border-coler:black;
    border-width:1px;
}

@keyframes fade in {
from { opacity:.3;
transform:scale(5);
}
to {
opacity:1;
transform:scale(1);
}
}
