#FlyIn_HoverJump {
    display:inline-block;
    font-size: 1.3em;
    letter-spacing: 0px;
    font-weight: auto;
    color: #7e2ea0 ;
    text-align: center;
    animation: odsoky 0.88s ease-in-out infinite  alternate;
}
#FlyIn_HoverJump:hover {
    
    color: red;
    text-shadow: -1px 1px 0 black; 
    animation: odsoky 2.22s ease-in-out infinite  alternate;
    transition: all .3s linear;
}

@keyframes odsoky {
  0%{
    transform: translateY(0px);	
  }

  100%{
    transform: translateY(22px);	
  }
}

