@import url('https://fonts.googleapis.com/css2?family=Long+Cang&family=Ma+Shan+Zheng&family=Noto+Serif+SC:wght@200..900&family=ZCOOL+KuaiLe&display=swap');

.long-cang {
  display:inline-block;
  
  color:white !important;
  font-family: "Long Cang", serif !important;
  font-weight: 400 !important;
  font-style: normal !important;
  font-size:111% !important;

  text-shadow: 2px 2px 3px rgba(0, 0, 0, 1.23); /* 保留文本阴影 */

  background:rgba(0,0,0,0.3);
  border-radius:6px !important;
  background-image:url("https://ice.frostsky.com/2024/11/04/55cde806643f2d1b86f56c5fbd4f5974.jpeg");
  background-size:123% !important;

  width:auto;
  padding:1.23px !important;
}
