.H1_Underline {
  position: relative;
  white-space: nowrap;
  &:after {
    width:99.9%;
    --deco-height: 0.1em;
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: calc(var(--deco-height) * -0.425);
    height: var(--deco-height);
    
    background-color:none;
    background-size: auto 100%;
    background-repeat: round;
    background-position: 0em;

    border-color:grey;
    border-width:1.23px;
    border-style:dashed;
    border-top:1px;
    border-left:1px;
    border-right:1px;
  }
}
