a.dfn-hover {
	color: #333;
	text-decoration: none;
}

/** Code for hover info **/

dfn {
  background: red;
  border-bottom: dashed 1px rgba(0,0,0,10.8);
  border-radius:9px;
  border-color:black;
  border-width:0px;
  border-style:dashed;
	
  padding: 0 0.04em;
  cursor: help;
  font-style: normal;
  position: relative;
	
  transition: all .3s linear;
  
}
dfn::after {
  content: attr(data-info);
  display: inline;
  position: absolute;
  top: 22px; left: 0;
  opacity: 0;
  width: 230px;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5em;
  padding: 0.5em 0.8em;
	
  border-radius:9px;
  border-color:white;
  border-width:1px;
  border-style:dashed;
	
  background: rgba(0,0,0,10.8);
  color: white;
  pointer-events: none; /* This prevents the box from apearing when hovered. */
  transition: opacity 250ms, top 250ms;
  white-space: pre-wrap;
  animation: odsoky 1s ease-in-out infinite  alternate;

  z-index:999;
}
dfn:hover {z-index: 2;
background: white;
} /* Keeps the info boxes on top of other elements */
dfn:hover::after,
dfn:hover::before {opacity: 1;}
dfn:hover::after {top: 30px;}
dfn:hover::before {top: 20px;}


@keyframes odsoky {
  0%{
    transform: translateY(6px);	
  }

  100%{
    transform: translateY(1px);	
  }
}
