
/** Code for hover info **/
/*弹出前的界面↓↓↓*/
dfn {
  background: gold;
  border-bottom: dashed 1px rgba(0,0,0,10.8);
  border-radius:9px;
  border-color:gold;
  border-width:0px;
  border-style:dashed;
	
  padding: 0 0.04em;
  cursor: help;
  font-style: normal;
  position: relative;
	
  transition: all .3s linear;
  
}
/*下划线，after用掉了，所以只能装在before↓↓↓↓*/
dfn:before {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: red;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
/*弹出后的界面↓↓↓*/
dfn::after {
  content: attr(data-info);
  display: inline;
  position: fixed;
	top:0%;
	left:41.11%;
	/*transform:translate(-0%,-0%);*/
  /*top: 22px; left: 0;*/
  opacity: 0;
  width: 230px;
  font-size: 88.8%;
  font-weight: 700;
  line-height: 1.5em;
  padding: 0.5em 0.8em;
	
  border-radius:9px;
  border-width:2.22px;
  border-color:red;
  border-style:solid;
  border-inline:1.23px;
	
  background: rgba(0,0,0,0.88);
  color: white;
  pointer-events: none; /* This prevents the box from apearing when hovered. */
  transition: opacity 250ms, top 250ms;
  white-space: pre-wrap;
  animation: odsoky 1s ease-in-out infinite  alternate;

  z-index:9999999;
}
dfn:hover {z-index: 299999;
          
  background-color: white;
          } /* Keeps the info boxes on top of other elements */
/*下划线的↓↓↓*/
dfn:hover:before { 
  width: 100%; 
  left: 0; 
}
dfn:hover::after,
dfn:hover::before {opacity: 1;}
dfn:hover::after {
	top:22.11%;
	left:41.11%;
	/*transform:translate(-50%,-50%);*/
		  
		  z-index:9999999;}
dfn:hover::before {/*top: 20px;*/}


@keyframes odsoky {
  0%{
    transform: translateY(6px);	
  }

  100%{
    transform: translateY(1px);	
  }
}
