.tooltip {
  position: relative;
  background: red;
  padding: 1px 8px;
  margin: 1px;
  font-size: 90%;
  font-weight: 300;
  border-radius: 100%;  
   
  color: #FFF;
  transition: all .3s linear;
  z-index:2;
}
.tooltip:after {
  position: absolute;
  content: '';
  opacity: 0;
  transition: all 0.4s ease;
}
.tooltip:after {
  content: attr(data-tooltip);
  background: black;
  width: 160px;
  height: auto;
  font-size: 90%;
  font-weight: 300;
  top: auto;
  left: auto;
  padding: 5px;
  border-radius: 5px;
  border-width: 0 0 1px 1px;
  border-color: red;
  border-style: solid;
  letter-spacing: 1px;
  transform: translateY(20px);
  z-index:999;
}
.tooltip:hover::after {
  opacity: 1;
  transform: translateY(-2px);
}
.tooltip:hover {
  background: white;
  border-color: white;
  opacity: 1; 
}
