.progress-bar-container {
    position: fixed;
    top: 300px;
    width: 50%;
    background: #6c2fa2;
    z-index: 999;
}
.progress-bar {
    height: 30px;
    background: #e131ff;
    animation-name: width;

    /* animation timeline is tied to vertical scroll position */
    animation-timeline: scroll(y);
}

@keyframes width {
    from { width: 0 }
    to   { width: 100% }
}
