.nav {
    background-color: black;
    min-height:50px;
}

main {
  min-height: 450px;
  overflow-y: auto;
}
section {
    min-height: 400px;
}

.scroll {
    min-width: 100%;
    min-height: 4px;
    background-color: lightgray;
}

#scroll-progress {
    width: 0%;
    min-height: 4px;
    background-color: green;
}
