
.nav {
    position: fixed;
    top: 0px;
    padding: 0px;
    background-color: yellow;
    height:50px;
    z-index: 3;
}

main {
  height: 100%;
  overflow-y: auto;
}
section {
    height: 400px;
}

.scroll {
    position: fixed;
    top: 40px;
    width: 100%;
    height: 30px;
    background-color: green;
    z-index: 4;
}

#scroll-progress {
    position: fixed;
    top: 40px;
    width: 0%;
    height: 30px;
    background-color: red;
    z-index: 5;
}
/*纯css进度条↓relative
main {
    position: fixed;
    padding: 0px;
    font-size: 24px;
    line-height: 5px;
    background-image: linear-gradient(to right top, #ffcc00 50%, #eee 50%);
    background-size: 100% calc(100% - 100vh + 5px);
    background-repeat: no-repeat;
    z-index: 1;
}
main::after {
    content: "";
    position: fixed;
    top: 60px;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: -1;
}
纯css进度条↑*/
/*进度条美化↓*/
* {
    /* border: 1px solid red; */
}
:root {
    --font: 'Bitter', serif;
    --title-size: 36px;
    --sub-size: 18px;
}
body {
    background: #E5E5E5;
}
.title h1 {
    margin: 4px;
    font-family: var(--font);
    font-size: var(--title-size);
    color: #333;
}
.title p {
    margin: 4px;
    padding-bottom: 25px;
    font-family: var(--font);
    font-size: var(--sub-size);
    color: #888;
}
.container {
    text-align: center;
}
.github {
    margin: 40px;
}
.progress {
    display: inline-block;
    width: 400px;
    height: 50px;
    margin: 35px;
    border-radius: 20px;
    background: #f9f9f9;
}
.bar {
    border-radius: 20px;
    width: 0%;
    height: 100%;
    transition: width;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.36,.55,.63,.48);
}
.mobile {
    display: none;
}
.shadow {
    /* 25 50 */
    box-shadow: 0px 45px 50px rgba(0, 0, 0, 0.25); 
}
.bubbles {
    background-color: #beffc2;
    background-image: url("data:image/svg+xml,%3Csvg width='100' height='100' viewBox='0 0 100 100' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M11 18c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm48 25c3.866 0 7-3.134 7-7s-3.134-7-7-7-7 3.134-7 7 3.134 7 7 7zm-43-7c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm63 31c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM34 90c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zm56-76c1.657 0 3-1.343 3-3s-1.343-3-3-3-3 1.343-3 3 1.343 3 3 3zM12 86c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm28-65c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm23-11c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-6 60c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4zm29 22c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zM32 63c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm57-13c2.76 0 5-2.24 5-5s-2.24-5-5-5-5 2.24-5 5 2.24 5 5 5zm-9-21c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM60 91c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM35 41c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2zM12 60c1.105 0 2-.895 2-2s-.895-2-2-2-2 .895-2 2 .895 2 2 2z' fill='%23e6afff' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
}
@media screen and (max-width: 500px) {
    .progress {
        width: calc(100vw * 0.7);
        /* height: calc(100vw * 0.7 * 0.145); */
        height: 40px;
        margin: 25px;
    }
    .github {
        margin: 20px;
    }
    .desktop {
        display: none;
    }
    .mobile {
        display: inherit;
    }
}
/*进度条美化↑*/
