/*on this page的背景↓*/
.toc{
    color:white !important;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1.23); /* 保留文本阴影 */
    
    background-image:url("https://ice.frostsky.com/2024/11/02/80d7b4bc93547e56a76a8625a26a7461.jpeg");
    background-size:333% !important;
    /*rgba(86,143,86,0.8),rgba(130,214,130,0.8)*/
    backdrop-filter: blur(10px); /* 磨砂效果 */
    ppadding:5px;
}
/*on this page的padding↓*/
.toc ol{
    padding:5px;
    margin:5px;
    border-coler:black;
    border-width:1px;
}
/* 添加磨砂背景图片 */
.toc-container {
    color:white !important;
    text-shadow: 2px 2px 3px rgba(255, 255, 255, 0.36); /* 保留文本阴影 */
    
    background: rgba(255, 255, 255, 0.69); /* 背景颜色和透明度 */
    backdrop-filter: blur(2.33px); /* 磨砂效果 */

    height:auto;
    
    padding: 15px;
    border-radius: 8px; /* 可选，增加圆角 */
}
