<script
  defer
  src="https://unpkg.com/alpinejs-scroll-amount@latest/dist/scroll-amount.min.js"
></script>
<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.min.js"></script>
<script>
return {
  scrollPx: 0,
  scrollPercent: 0,
  atStart: true / false,
  atEnd: true / false,
}
</script>

        
