<script src='//cdn.jsdelivr.net/npm/valine/dist/Valine.min.js'></script>

<div id="vcomments"></div>

<script>

    new Valine({

        el: '#vcomments',

        appId: 'DNFREhOlsCr9pJ9wFcfdNVeJ-MdYXbMMI',

        appKey: 'r5BR8bDDmWUE2TZytkaV5zym'

    })

</script>
