<script src='//cdn.jsdelivr.net/npm/valine/dist/Valine.min.js'></script>

<div id="vcomments"></div>

<script>

    new Valine({

        el: '#vcomments',

        appId: 'uzRxJbkwo4LjvHrLWYXZO7fx-gzGzoHsz',

        appKey: 'g2TcK8xKxW5p9ApBXWg5rdUb'

    })

</script>
