<div id="waline"></div>

  <script type="module">

    import { init } from 'https://unpkg.com/@waline/client@v2/dist/waline.mjs';

  

    init({

      el: '#waline',

      serverURL: 'dnfrehol.us-w1-cname.lncldglobal.com',
    });

  </script>
