<div id="waline"></div>

  <script type="module">

    import { init } from 'https://unpkg.com/@waline/client@v2/dist/waline.mjs';

  

    init({

      el: '#waline',

      appId: 'DNFREhOlsCr9pJ9wFcfdNVeJ-MdYXbMMI',

        appKey: 'r5BR8bDDmWUE2TZytkaV5zym'
    });

  </script>
