<nav>
  <div class="nav">👼🏻</div>
<div class="progress">
  <div class="progress-value" id="scroll-progress"></div>
</div>
</nav>
<script>
//<div class="scroll">
  //<div class="scroll-bar" id="scroll-progress"></div>
//</div>
const main = document.querySelector('main');
const scrollProgress = document.getElementById('scroll-progress')
const progress = () => {
    const scroll = main.scrollTop;
    const height = main.scrollHeight - main.clientHeight;
    const percent = (scroll / height) * 100;
    scrollProgress.style.width = percent + "%";
}
main.addEventListener('scroll', progress);
</script>

  

